[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Vidhi611
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vidhi611
	label-Verified = -1..+1 group user/Vidhi611
	push = group user/Vidhi611
	read = group user/Vidhi611
	rebase = group user/Vidhi611
	removeReviewer = group user/Vidhi611
	submit = group user/Vidhi611
[access "refs/heads/*"]
	create = group user/Vidhi611
	push = +force group user/Vidhi611
	pushMerge = group user/Vidhi611
	read = group user/Vidhi611
[access "refs/tags/*"]
	push = group user/Vidhi611
	push = +force group user/Vidhi611
